<h3>Hello {{name}},</h3>
<p>We've received your application for franchise
  {{issuanceText}}, please wait while your application is currently being
  verified. Thank you.</p>
<p><a href='{{url}}'>View Franchise</a></p>